
//** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Lost Socks
        a(href="/") Return to Homepage
        if data.neworedit === "new"
            h2 Add a new sock
        if data.neworedit === "edit"
            h2 Edit a sock (ID: #{data.id})) 


        if data.neworedit === "new"

            form(action="/update-cobj" method="post") 
                .form-group 
                    label(for="name") Name:
                    input#name(type="text" name="name" required) 
                .form-group 
                    label(for="sock_color") Sock Color: 
                    input#sock_color(type="text" name="sock_color" required) 
                .form-group 
                    label(for="time_lost") Time lost: 
                    input#time_lost(type="text" name="time_lost" required) 
                .form-group
                    label(for="sock_pair_status") Sock Pair Status: 
                    input#sock_pair_status(type="text" name="sock_pair_status" required) 
                
                input(type="hidden" name="neworedit" value=data.neworedit)
                
                button(type="submit") Submit 

        if data.neworedit === "edit" 
            each lostSock in data
                if lostSock.properties.hs_object_id === data.id

                    form(action="/update-cobj" method="post") 
                        .form-group 
                            label(for="name") Name:
                            input#name(type="text" name="name" value=lostSock.properties.name required) 
                        .form-group 
                            label(for="sock_color") Sock Color: 
                            input#sock_color(type="text" name="sock_color" value=lostSock.properties.sock_color required) 
                        .form-group 
                            label(for="time_lost") Time lost: 
                            input#time_lost(type="text" name="time_lost" value=lostSock.properties.time_lost required) 
                        .form-group
                            label(for="sock_pair_status") Sock Pair Status: 
                            input#sock_pair_status(type="text" name="sock_pair_status" value=lostSock.properties.sock_pair_status required) 
                        
                        input(type="hidden" name="sockid" value=data.id)
                        input(type="hidden" name="neworedit" value=data.neworedit)
                        
                        button(type="submit") Submit 