
//** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Lost Socks
        a(href="/") Return to Home
        .cards 
            each lostSocks in data
                .card 
                    h2.card__name #{lostSocks.properties.name}  
                    p.card__email Sock Color: #{lostSocks.properties.sock_color}
                    p.card__email Time Lost: #{lostSocks.properties.time_lost}
                    p.card__email Sock Pair Status: #{lostSocks.properties.sock_pair_status}