
//** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Lost Socks
        a(href="/") Return to Home
        .cards 
            each lostSock in data
                if lostSock.properties.hs_object_id === data.id 
                    .card 
                        h2.card__name #{lostSock.properties.name}  
                        p.card__email Sock Color: #{lostSock.properties.sock_color}
                        p.card__email Time Lost: #{lostSock.properties.time_lost}
                        p.card__email Sock Pair Status: #{lostSock.properties.sock_pair_status}